<div class="scenario-builder-container">
  <!-- <div class="operations">
    <button>New</button>
    <div class="db-operations">
      <button>Save</button>
      <button>Load</button>
    </div>
    <div class="file-operations">
      <button>Export</button>
      <button>Import</button>
    </div>
  </div> -->
  <div class="selector-slots">
    <div class="offensive-sats"></div>
    <div class="select-side"></div>
    <div class="high-value-assets"></div>
    <div class="selector-1"></div>
    <div class="selector-2"></div>
  </div>
</div>
